@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.esconder {
    display: none;
}

/* Formaação padrão do document*/
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* Formatação dos links */
a.linkAcesseCadastrase:link {
    color: white;
    text-decoration: underline;
}

a.linkAcesseCadastrase:visited {
    color: white;
    text-decoration: underline;
}

a.linkAcesseCadastrase:active {
    color: white;
    text-decoration: underline;
}

/* Formatação dos links do menu horizontal*/
a.linkNavHorizontal:link {
    color: white;
    text-decoration: none;
}

a.linkNavHorizontal:visited {
    color: white;
    text-decoration: none;
}

a.linkNavHorizontal:active {
    color: white;
    text-decoration: none;
}

/* Formatação dos links do menu vertical*/
a.linkNavVertical:link {
    color: black;
    text-decoration: none;
}

a.linkNavVertical:visited {
    color: black;
    text-decoration: none;
}

a.linkNavVertical:active {
    color: black;
    text-decoration: none;
}

/*Formatação do primeiro elemento da página*/
#acesse-ou-cadastrase {
    display: flex;
    flex-direction: row-reverse;
    background-color: #111111;
    color: white;
    font-size: 12px;

}

#acesse-ou-cadastrase>span {
    width: 65%;
    margin: 0 auto;
    text-align: right;
}

/*Formatação do segundo elemento da página*/
#section-search {
    margin: 0 auto;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Formatação do menu horizontal*/
nav {
    font-size: 12px;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #cc0000;
    padding: 10px;
}

nav>section {
    font-size: 12px;
    color: white;
}

#local-atual {
    padding-top: 16px;
    width: 65%;
    margin: 0 auto;
    font-size: 12px;
}

#section-search-items {
    display: grid;
    grid-template-columns: auto auto;
}

#value-name {
    height: 32px;
    width: 100%;
}

.button {
    font-weight: bold;
    background-color: #cc0000;
    color: white;
    border: none;
    cursor: pointer;
}

/*Formatação do conteúdo principal (main)*/
main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 16px;
    width: 65%;
    margin: 0 auto;
    column-gap: 16px;
    row-gap: 16px;
}

#conteudo-principal {
    display: grid;
    grid-template-columns: auto;
    row-gap: 16px;

}

#section-cinza {
    background-color: #a0a0a0;
    min-height: 35vh;
}

aside {
    background-color: lightgrey;
    padding-right: 128px;
    min-height: 70vh;
    width: 25vh;
}

li {
    padding: 4px;
}

article {
    font-weight: bolder;
}

#conteudo-catalogo {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 16px;
    row-gap: 16px;
}

/*Footer */
footer {
    align-self: center;
    background-color: #cc0000;
    align-items: center;
    grid-column: 1 / span 3;
    min-height: 25vh;
}

@media only screen and (max-width: 1024px) {
    #section-search {
        min-width: 100vh;
    }

    footer {
        min-height: 25vh;
        min-width: 100vh;
    }
    #conteudo-catalogo {
        grid-template-columns: repeat(3, auto);
    }
    main {
        min-width: 100%;
        min-height: 100vh;
    }

    #local-atual {
        padding-top: 16px;
        min-width: 100%;
        margin: 0 auto;
        font-size: 12px;
        padding-left: 16px;
    }
}

@media only screen and (max-width: 500px) {
    main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    #local-atual {
        padding-top: 16px;
        width: 80%;
        margin: 0 auto;
        font-size: 12px;
        padding-left: 16px;
    }

    #conteudo-catalogo {
        grid-template-columns: auto;
    }

    aside {
        width: 10vh;
    }

    #section-cinza {
        background-color: #a0a0a0;
        width: 100vh;
    }
    
    #lorem {
        width: 100vh;
        column-gap: 4px;
        row-gap: 4px;   
    }
    
}